body {
  font-family: sans-serif;
  margin: 2em;
  color: #aaa;
}

input {
  border: 1px solid #aac;
  border-radius: 2px;
}

.error {
  border-color: #faa;
  color: #faa;
}

.ok {
  border-color: #afa;
  color: #afa;
}

#search form input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  font-size: large;
  text-align: center;
  padding: 1em;
  border-radius: 3px;
  border-color: #aaa;
  transition: border-color 0.2s linear;
  outline: none;
}
#search form input[type='search']:focus {
  border-color: #aaf;
}

#search form button[type='submit'] {
  display: none;
}

#results ol {
  list-style: none;
  padding-left: 0;
}

li.result {
  display: flex;
  transition: background-color 0.2s linear,
              color 0.2s linear;
}

li.result:nth-of-type(odd) {
  background-color: rgba(100, 100, 0, 0.1);
}

li.result.hover {
  outline-bottom: 1px blue;
}

li.result a.name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.result a {
  color: #aaa;
  transition: color 0.2s linear;
  text-decoration: none;
}

li.result a:hover {
  color: #aaf;
}

li.result a:visited {
  color: #faf;
}

li.result a:active {
  color: #afa;
}

li.result > * {
  line-height: 1.2em;
  padding: 1em;
  vertical-align: middle;
}
